body {
    background-color: rgb(25, 53, 25);
}

.cv {
    color: blanchedalmond;
}
.header {
        margin: 0px 0px 0px 0px;
}
.aboutMe {
    margin: 10px 0px 0px 0px;
}
.experience {
    margin: 10px 0px 0px 0px;
}